.mainTitle {
  font-size: 56px;
  color: #53c28b;
  margin: 10px 0px;

}

.container {}

.selectTitle {
  margin: 20px 0px;
}

.imgContainer {
  width: 100%;
  height: 300px;
  position: relative;
}

.items {
  display: flex;
  gap: 80px;
}

.item {
  border: 5px solid #bbb;
  border-radius: 5px;
  width: 360px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center;
  transition: all 0.5s ease;
  filter: grayscale(70%);
}

.item:hover::before {
  transform: scale(1.1);
  filter: grayscale(0);
}

.item:nth-child(1)::before {
  background: url("/videos.jpg");
}

.item:nth-child(2)::before {
  background: url("/websites.jpg");
}

.item:nth-child(3)::before {
  background: url("/educations.jpg");
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.item:hover .title {
  color: #53c28b;
}

@media (max-width: 768px) {
  .items {
    flex-direction: column;
    align-items: center;
  }
}