.main-menu li {
  list-style-type: none;
}

/*HEADER*/
.header {
  height: 80px;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 9;
  /* background-color: #b9dcff; */
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  /* 이미지와 메뉴가 중앙에 위치하도록 조정 */
  justify-content: flex-start;
  /* 로고가 왼쪽에, 메뉴가 오른쪽에 위치하도록 조정 */
}

.header>.inner {}

.header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-right: 20px;
}

.header .main-menu {
  /* position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; */
  display: flex;
  width: auto;
  margin-left: auto;

}

.header .main-menu .item {}

.header .main-menu .item .item__name {
  padding: 10px 20px 25px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.header .main-menu .item:hover .item__name {
  background-color: #121516;
  color: #64c1ff;
  border-radius: 6px 6px 0 0;
}

.inner {
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* background-color: #997a00; */
}

.header .main-menu .item .item__contents {
  /* width: 100%; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* display: none; */
  width: 100%;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  /* animation: slideDownFadeIn 0.5s forwards; */
}

.header .main-menu .item:hover .item__contents {
  /* display: block; */
  max-height: 500px;
}

.header .main-menu .item:not(:hover) .item__contents {
  /* display: block; */
  max-height: 0;
}

/* @keyframes slideDownFadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
} */

.header .main-menu .item .item__contents .contents__menu {
  background-color: #121516;
  color: #fff;
  font-size: 14px;
}

.header .main-menu .item .item__contents .contents__menu>ul {

  padding: 20px 0;
  display: flex;
}

.header .main-menu .item .item__contents .contents__menu>ul>li {
  /* width: 220px; */
  padding: 0 20px;
}

.header .main-menu .item .item__contents .contents__menu>ul>li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

.header .main-menu .item .item__contents .contents__menu>ul>li ul {

  padding-left: 0;
  /* 목록 앞의 여백을 제거합니다. */
}

.header .main-menu .item .item__contents .contents__menu>ul>li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

.header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
  color: #669900;
}

.header .main-menu .item .item__contents .contents__texture {
  width: 100%;
  margin: 0 auto;
  padding: 6px 0;
  font-size: 12px;
  background-color: #051a21;
}

.header .main-menu .item .item__contents .contents__texture h4 {
  color: #64c1ff;
  font-weight: 900;
  font-size: 14px;
}

.header .main-menu .item .item__contents .contents__texture p {
  color: #c8c8c8;
  margin: 4px 0 14px;
  font-size: 14px;
}